OBV_Indi_OBV_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
OBV_Indi_OBV_MA_Method={{ ma_method | default(0) }}
OBV_Indi_OBV_Period={{ (period | default(0) | int) }}
OBV_Indi_OBV_Shift={{ shift | default(0) }}
OBV_LotSize={{ lot_size | default(0) }}
OBV_PriceStopLevel,1=10
OBV_PriceStopLevel,2=5
OBV_PriceStopLevel,3=40
OBV_PriceStopLevel,F=1
OBV_PriceStopLevel={{ price_stop_level | replace("(float)", "") | float | default(0) }}
OBV_PriceStopMethod={{ price_stop_method | default(0) }}
OBV_SignalCloseLevel={{ signal_close_level | replace("(float)", "") | float | default(0) }}
OBV_SignalCloseMethod={{ signal_close_method | default(0) }}
OBV_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
OBV_SignalOpenFilterMethod={{  signal_open_filter | default(1) }}
OBV_SignalOpenLevel={{ signal_open_level | replace("(float)", "") | float | default(0) }}
OBV_SignalOpenMethod={{ signal_open_method | default(0) }}
OBV_TickFilterMethod={{ tick_filter_method | default(1) }}
